[Desktop Entry]
Encoding=UTF-8
Version=1.0
Type=Application
Name=Eclipse 
Icon=eclipse
Exec=env GTK2_RC_FILES=/home/citaire2/.eclipse/gtkrc UBUNTU_MENUPROXY=0 SWT_GTK3=0 GDK_NATIVE_WINDOWS=true eclipse
StartupNotify=false
StartupWMClass=Eclipse
OnlyShowIn=Unity;
X-UnityGenerated=true
